@-moz-document regexp("https://myanimelist\\.net/anime/producer.*") {
    .widget {
        display: none !important;
      }
    }
    
    @-moz-document regexp("https://myanimelist\\.net/anime/producer.*") {
    .widget {
        display: none !important;
      }
    }
    
    @-moz-document url-prefix("https://myanimelist.net") {
    .info .pt8, div.extra-info,.media-type {
        display: none !important;
    }
    }